/********************/
/****** Header ******/
/********************/

header {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    header::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    header::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-image: url('/curriculum-vitae/header.webp');
        background-position: center top -450px;
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(100%);
        z-index: -2;
    }

.circle {
    position: absolute;
    top: 25%;
    left: 15%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgb(172, 172, 172);
    z-index: 1;
}

.profile-pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-shadow: 1px 1px 1px black;
}

    .text-container div::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
        border-top: 1px solid rgb(138, 136, 136);
        border-bottom: 1px solid rgb(138, 136, 136);
    }

    .text-container h1 .waterblue {
        color: #089288;
    }

    .text-container h1 {
        font-size: 3.5em;
    }

    .text-container p .waterblue {
        color: #089288;
    }

    .text-container p {
        font-size: 2.7em;
        margin: 0;
    }

/********************/
/** Main container **/
/********************/
.main-container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 2700px;
    z-index: 0;
}

    .main-container h1 .black {
        color: #000;
    }

    .main-container p .gray {
        color: #303030;
    }

    .main-container h1 {
        font-size: 2.3em;
    }

    .main-container h2 {
        font-size: 1.3em;
        font-weight: bold;
        color: #707070;
    }

    .main-container h3 {
        font-size: 1.2em;
        color: #575555;
    }

    .main-container p {
        font-size: 1.3em;
    }

    .main-container .date {
        display: inline-block;
        font-weight: normal;
        margin-top: 35px;
        margin-right: 35px;
    }

        .main-container .date span {
            color: #089288;
        }

    .main-container .circle-filled {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #033a36;
        border: 1px solid #012523;
        ;
        margin-right: 2px;
        margin-left: 2px;
    }

    .main-container .circle-empty {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #b8b8b8;
        border: 1px solid rgb(172, 172, 172);
        margin-right: 2px;
        margin-left: 2px;
    }

    .main-container .circles {
        display: flex;
        width: 100px;
    }

.left-column,
.right-column {
    display: flex;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.left-column {
    background-color: rgba(211, 211, 211, 0.63);
    border-right: 5px solid #ccc;
    position: relative;
    text-align: justify;
    z-index: -2;
}

.right-column {
    background-color: #19a09727;
    position: relative;
    text-align: justify;
    z-index: -2;
}

.triangle-top {
    width: 0;
    height: 0;
    border-top: 400px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 650px solid #fff;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.triangle-bottom {
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-bottom: 400px solid transparent;
    border-left: 650px solid #fff;
    border-right: 0px solid transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.credits {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 0;
}

.text {
    position: absolute;
    padding: 60px;
}

/********************/
/* Left column text */
/********************/
.left-column .profile {
    padding: 10px;
    margin-bottom: 10px;
    position:;
}

.left-column .contact {
    padding: 10px;
    margin-bottom: 10px;
}

.left-column .languages {
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.left-column .language-container {
    display: flex;
}

.left-column .circle-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 150px;
    margin-left: 1px;
}

.left-column .education {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.left-column .education-container {
    display: flex;
    margin-bottom: 20px;
}

.left-column .academic-projects {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.left-column .project-container {
    display: flex;
}

.left-column .project {
    flex-direction: column;
    align-items: left;
    margin-bottom: 25px;
}

    .left-column .project span {
        color: #089288;
    }

.left-column .framework-container {
    display: flex;
}

.left-column .frameworks {
    display: flex;
    width: 100px;
}

.left-column .framework-circle-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 150px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 5px 0;
}

.left-column .hobbies {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.left-column .hobbies-container {
    display: flex;
}

    .left-column .hobbies-container .gym {
        display: flex;
        width: 19%;
        height: 19%;
        margin-top: 6%;
        margin-left: 4%;
    }

    .left-column .hobbies-container .karate {
        display: flex;
        width: 19%;
        height: 19%;
        margin-top: 3%;
        margin-left: 5%;
    }

    .left-column .hobbies-container .reading {
        display: flex;
        width: 14%;
        height: 14%;
        margin-top: 7%;
        margin-left: 7%;
    }

    .left-column .hobbies-container .skateboarding {
        display: flex;
        width: 16%;
        height: 16%;
        margin-top: 5%;
        margin-left: 7%
    }

/*********************/
/* Right column text */
/*********************/
.right-column .professional-experiences {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.right-column .experience-container {
    display: flex;
}

.right-column .experience {
    flex-direction: column;
    align-items: left;
    margin-bottom: 25px;
}

.right-column .framework-container {
    display: flex;
}

.right-column .frameworks {
    display: flex;
    width: 100px;
}

.right-column .framework-circle-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 150px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 5px 0;
}

.right-column .volunteering {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

/*************************/
/*********       *********/
/******    Media    ******/
/*****      375      *****/
/******      px     ******/
/*********       *********/
/*************************/
@media (max-width: 375px) {

    /********************/
    /****** Header ******/
    /********************/
    header {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

        header::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: -1;
        }

        header::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-image: url('/curriculum-vitae/header.webp');
            background-position: center top 0px;
            background-repeat: no-repeat;
            background-size: cover;
            filter: grayscale(100%);
            z-index: -2;
        }

    .circle {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 75px;
        height: 75px;
        border-radius: 50%;
        overflow: hidden;
        border: 1.5px solid rgb(172, 172, 172);
        z-index: 1;
    }

    .text-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        text-shadow: 1px 1px 1px black;
    }

        .text-container div::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.2);
            z-index: -1;
            border-top: 1px solid rgb(138, 136, 136);
            border-bottom: 1px solid rgb(138, 136, 136);
        }

        .text-container h1 .waterblue {
            color: #089288;
        }

        .text-container h1 {
            font-size: 2.1em;
        }

        .text-container p .waterblue {
            color: #089288;
        }

        .text-container p {
            font-size: 1.3em;
            margin: 0;
        }

    /********************/
    /** Main container **/
    /********************/
    .main-container {
        display: flex;
        flex-direction: column;
        /* position: absolute; */
        width: 100%;
        /* height: calc(100vh - 50px); */
        height: 4500px;
        /* subtract header height */
    }

        .main-container h1 .black {
            color: #000;
        }

        .main-container p .gray {
            color: #303030;
        }

        .main-container h1 {
            font-size: 1.3em;
        }

        .main-container h2 {
            font-size: 0.8em;
            font-weight: bold;
            color: #707070;
        }

        .main-container h3 {
            font-size: 0.7em;
            color: #575555;
        }

        .main-container p {
            font-size: 0.8em;
        }

        .main-container .date {
            display: inline-block;
            font-weight: normal;
            margin-top: 0px;
            margin-right: 15px;
        }

            .main-container .date span {
                color: #089288;
            }

        .main-container .circle-filled {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #033a36;
            border: 1px solid #012523;
            ;
            margin-right: 2px;
            margin-left: 2px;
        }

        .main-container .circle-empty {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #b8b8b8;
            border: 1px solid rgb(172, 172, 172);
            margin-right: 2px;
            margin-left: 2px;
        }

        .main-container .circles {
            display: flex;
            width: 100px;
        }

    .left-column,
    .right-column {
        display: flex;
        width: 100%;
        height: 50%;
        box-sizing: border-box;
    }

    .left-column {
        background-color: rgba(211, 211, 211, 0.63);
        border-top: 2px solid #19a09727;
        border-bottom: 2px solid #19a09727;
        border-left: 2px solid #19a09727;
        border-right: 2px solid #19a09727;
        position: relative;
        text-align: justify;
        z-index: -2;
    }

    .right-column {
        background-color: #19a09727;
        position: relative;
        text-align: justify;
        z-index: -2;
    }

    .triangle-top {
        width: 0;
        height: 0;
        border-top: 100% solid transparent;
        border-bottom: 100% solid transparent;
        border-left: 100% solid #fff;
        border-right: 100% solid transparent;
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(180deg);
        z-index: -1;
    }

    .triangle-bottom {
        width: 0;
        height: 0;
        border-top: 100% solid transparent;
        border-bottom: 100% solid transparent;
        border-left: 100% solid transparent;
        border-right: 100% solid #fff;
        position: relative;
        right: 0;
        bottom: 0;
        transform: rotate(360deg);
        z-index: -1;
    }

    .text {
        position: absolute;
        padding: 20px;
        z-index: 0;
    }


    /********************/
    /* Left column text */
    /********************/
    .left-column .framework-circle-container {
        display: flex;
        justify-content: right;
        align-items: center;
        width: calc(25vw + 15px);
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 5px 0;
    }

    .left-column .hobbies {
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
    }

    .left-column .hobbies-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        .left-column .hobbies-container img {
            width: 48%;
            margin-bottom: 20px;
        }

        .left-column .hobbies-container .gym {
            display: flex;
            width: 40%;
            height: 19%;
            margin-top: 6%;
            margin-left: 5%;
            margin-bottom: 20px;
        }

        .left-column .hobbies-container .karate {
            display: flex;
            width: 38%;
            height: 19%;
            margin-top: 2%;
            margin-left: 5%;
            margin-bottom: 3%;
        }

        .left-column .hobbies-container .reading {
            display: flex;
            width: 30%;
            height: 14%;
            margin-top: 7%;
            margin-left: 7%;
            margin-bottom: 3%;
        }

        .left-column .hobbies-container .skateboarding {
            display: flex;
            width: 33%;
            height: 16%;
            margin-top: 3%;
            margin-left: -1.5%;
            margin-bottom: 3%;
        }

    /*********************/
    /* Right column text */
    /*********************/
}

.right-column .framework-circle-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: calc(25vw + 15px);
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 5px 0;
}

/*************************/
/*********       *********/
/******    Media    ******/
/*****      480      *****/
/******      px     ******/
/*********       *********/
/*************************/
@media (min-width: 375.05px) and (max-width: 480px) {

    /********************/
    /****** Header ******/
    /********************/
    header {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

        header::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: -1;
        }

        header::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-image: url('/curriculum-vitae/header.webp');
            background-position: center top 0px;
            background-repeat: no-repeat;
            background-size: cover;
            filter: grayscale(100%);
            z-index: -2;
        }

    .circle {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        border: 1.5px solid rgb(172, 172, 172);
        z-index: 1;
    }

    .text-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        text-shadow: 1px 1px 1px black;
    }

        .text-container div::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.2);
            z-index: -1;
            border-top: 1px solid rgb(138, 136, 136);
            border-bottom: 1px solid rgb(138, 136, 136);
        }

        .text-container h1 .waterblue {
            color: #089288;
        }

        .text-container h1 {
            font-size: 2.2em;
        }

        .text-container p .waterblue {
            color: #089288;
        }

        .text-container p {
            font-size: 1.4em;
            margin: 0;
        }

    /********************/
    /** Main container **/
    /********************/
    .main-container {
        display: flex;
        flex-direction: column;
        /* position: absolute; */
        width: 100%;
        /* height: calc(100vh - 50px); */
        height: 4750px;
        /* subtract header height */
    }

        .main-container h1 .black {
            color: #000;
        }

        .main-container p .gray {
            color: #303030;
        }

        .main-container h1 {
            font-size: 1.4em;
        }

        .main-container h2 {
            font-size: 0.9em;
            font-weight: bold;
            color: #707070;
        }

        .main-container h3 {
            font-size: 0.8em;
            color: #575555;
        }

        .main-container p {
            font-size: 0.9em;
        }

        .main-container .date {
            display: inline-block;
            font-weight: normal;
            margin-top: 0px;
            margin-right: 15px;
        }

            .main-container .date span {
                color: #089288;
            }

        .main-container .circle-filled {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #033a36;
            border: 1px solid #012523;
            ;
            margin-right: 2px;
            margin-left: 2px;
        }

        .main-container .circle-empty {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #b8b8b8;
            border: 1px solid rgb(172, 172, 172);
            margin-right: 2px;
            margin-left: 2px;
        }

        .main-container .circles {
            display: flex;
            width: 100px;
        }

    .left-column,
    .right-column {
        display: flex;
        width: 100%;
        height: 50%;
        box-sizing: border-box;
    }

    .left-column {
        background-color: rgba(211, 211, 211, 0.63);
        border-top: 2px solid #19a09727;
        border-bottom: 2px solid #19a09727;
        border-left: 2px solid #19a09727;
        border-right: 2px solid #19a09727;
        position: relative;
        text-align: justify;
        z-index: -2;
    }

        .left-column .circle-container {
            display: flex;
            justify-content: right;
            align-items: center;
            width: calc(40vw + 10px);
            margin-left: 1px;
        }

    .right-column {
        background-color: #19a09727;
        position: relative;
        text-align: justify;
        z-index: -2;
    }

    .triangle-top {
        width: 0;
        height: 0;
        border-top: 100% solid transparent;
        border-bottom: 100% solid transparent;
        border-left: 100% solid #fff;
        border-right: 100% solid transparent;
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(180deg);
        z-index: -1;
    }

    .triangle-bottom {
        width: 0;
        height: 0;
        border-top: 100% solid transparent;
        border-bottom: 100% solid transparent;
        border-left: 100% solid transparent;
        border-right: 100% solid #fff;
        position: relative;
        right: 0;
        bottom: 0;
        transform: rotate(360deg);
        z-index: -1;
    }

    .text {
        position: absolute;
        padding: 20px;
        z-index: 0;
    }


    /********************/
    /* Left column text */
    /********************/
    .left-column .frameworks {
        display: flex;
        width: 200px;
    }

    .left-column .framework-circle-container {
        display: flex;
        justify-content: right;
        align-items: center;
        width: calc(20vw + 10px);
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 5px 0;
    }

    .left-column .hobbies {
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
    }

    .left-column .hobbies-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        .left-column .hobbies-container img {
            width: 48%;
            margin-bottom: 20px;
        }

        .left-column .hobbies-container .gym {
            display: flex;
            width: 40%;
            height: 19%;
            margin-top: 6%;
            margin-left: 5%;
            margin-bottom: 20px;
        }

        .left-column .hobbies-container .karate {
            display: flex;
            width: 38%;
            height: 19%;
            margin-top: 2%;
            margin-left: 5%;
            margin-bottom: 3%;
        }

        .left-column .hobbies-container .reading {
            display: flex;
            width: 30%;
            height: 14%;
            margin-top: 7%;
            margin-left: 7%;
            margin-bottom: 3%;
        }

        .left-column .hobbies-container .skateboarding {
            display: flex;
            width: 33%;
            height: 16%;
            margin-top: 3%;
            margin-left: -1.5%;
            margin-bottom: 3%;
        }

    /*********************/
    /* Right column text */
    /*********************/
    .right-column .frameworks {
        display: flex;
        width: 200px;
    }

    .right-column .framework-circle-container {
        display: flex;
        justify-content: right;
        align-items: center;
        width: calc(20vw + 10px);
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 5px 0;
    }
}

/*************************/
/*********       *********/
/******    Media    ******/
/*****      768      *****/
/******      px     ******/
/*********       *********/
/*************************/
@media (min-width: 480.05px) and (max-width: 768px) {

    /********************/
    /****** Header ******/
    /********************/
    header {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

        header::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: -1;
        }

        header::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-image: url('/curriculum-vitae/header.webp');
            background-position: center top 0px;
            background-repeat: no-repeat;
            background-size: cover;
            filter: grayscale(100%);
            z-index: -2;
        }

    .circle {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        height: 90px;
        border-radius: 50%;
        overflow: hidden;
        border: 1.5px solid rgb(172, 172, 172);
        z-index: 1;
    }

    .text-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        text-shadow: 1px 1px 1px black;
    }

        .text-container div::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.2);
            z-index: -1;
            border-top: 1px solid rgb(138, 136, 136);
            border-bottom: 1px solid rgb(138, 136, 136);
        }

        .text-container h1 .waterblue {
            color: #089288;
        }

        .text-container h1 {
            font-size: 2.4em;
        }

        .text-container p .waterblue {
            color: #089288;
        }

        .text-container p {
            font-size: 1.5em;
            margin: 0;
        }

    /********************/
    /** Main container **/
    /********************/
    .main-container {
        display: flex;
        flex-direction: column;
        /* position: absolute; */
        width: 100%;
        /* height: calc(100vh - 50px); */
        height: 6500px;
        /* subtract header height */
    }

        .main-container h1 .black {
            color: #000;
        }

        .main-container p .gray {
            color: #303030;
        }

        .main-container h1 {
            font-size: 2.1em;
        }

        .main-container h2 {
            font-size: 1.5em;
            font-weight: bold;
            color: #707070;
        }

        .main-container h3 {
            font-size: 1.5em;
            color: #575555;
        }

        .main-container p {
            font-size: 1.3em;
        }

        .main-container .date {
            display: inline-block;
            font-weight: normal;
            margin-top: 0px;
            margin-right: 15px;
        }

            .main-container .date span {
                color: #089288;
            }

        .main-container .circle-filled {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #033a36;
            border: 1px solid #012523;
            ;
            margin-right: 2px;
            margin-left: 2px;
        }

        .main-container .circle-empty {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #b8b8b8;
            border: 1px solid rgb(172, 172, 172);
            margin-right: 2px;
            margin-left: 2px;
        }

        .main-container .circles {
            display: flex;
            width: 300px;
        }

    .left-column,
    .right-column {
        display: flex;
        width: 100%;
        height: 50%;
        box-sizing: border-box;
    }

    .left-column {
        background-color: rgba(211, 211, 211, 0.63);
        border-top: 2px solid #19a09727;
        border-bottom: 2px solid #19a09727;
        border-left: 2px solid #19a09727;
        border-right: 2px solid #19a09727;
        position: relative;
        text-align: justify;
        z-index: -2;
    }

        .left-column .circle-container {
            display: flex;
            justify-content: right;
            align-items: center;
            width: calc(20vw + 10px);
            margin-left: 1px;
        }

    .right-column {
        background-color: #19a09727;
        position: relative;
        text-align: justify;
        z-index: -2;
    }

    .triangle-top {
        width: 0;
        height: 0;
        border-top: 100% solid transparent;
        border-bottom: 100% solid transparent;
        border-left: 100% solid #fff;
        border-right: 100% solid transparent;
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(180deg);
        z-index: -1;
    }

    .triangle-bottom {
        width: 0;
        height: 0;
        border-top: 100% solid transparent;
        border-bottom: 100% solid transparent;
        border-left: 100% solid transparent;
        border-right: 100% solid #fff;
        position: relative;
        right: 0;
        bottom: 0;
        transform: rotate(360deg);
        z-index: -1;
    }

    .text {
        position: absolute;
        padding: 50px;
        z-index: 0;
    }


    /********************/
    /* Left column text */
    /********************/
    .left-column .frameworks {
        display: flex;
        width: 200px;
    }

    .left-column .framework-circle-container {
        display: flex;
        justify-content: right;
        align-items: center;
        width: calc(25vw + 15px);
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 5px 0;
    }

    .left-column .hobbies {
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
    }

    .left-column .hobbies-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        .left-column .hobbies-container img {
            width: 48%;
            margin-bottom: 20px;
        }

        .left-column .hobbies-container .gym {
            display: flex;
            width: 40%;
            height: 19%;
            margin-top: 6%;
            margin-left: 5%;
            margin-bottom: 20px;
        }

        .left-column .hobbies-container .karate {
            display: flex;
            width: 38%;
            height: 19%;
            margin-top: 2%;
            margin-left: 5%;
            margin-bottom: 3%;
        }

        .left-column .hobbies-container .reading {
            display: flex;
            width: 30%;
            height: 14%;
            margin-top: 7%;
            margin-left: 7%;
            margin-bottom: 3%;
        }

        .left-column .hobbies-container .skateboarding {
            display: flex;
            width: 33%;
            height: 16%;
            margin-top: 3%;
            margin-left: -1.5%;
            margin-bottom: 3%;
        }

    /*********************/
    /* Right column text */
    /*********************/
    .right-column .frameworks {
        display: flex;
        width: 200px;
    }

    .right-column .framework-circle-container {
        display: flex;
        justify-content: right;
        align-items: center;
        width: calc(25vw + 15px);
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 5px 0;
    }
}

/*************************/
/*********       *********/
/******    Media    ******/
/*****      1024     *****/
/******      px     ******/
/*********       *********/
/*************************/
@media (min-width: 768.05px) and (max-width: 1024px) {

    /********************/
    /****** Header ******/
    /********************/
    header {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

        header::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: -1;
        }

        header::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-image: url('/curriculum-vitae/header.webp');
            background-position: center top 0px;
            background-repeat: no-repeat;
            background-size: cover;
            filter: grayscale(100%);
            z-index: -2;
        }

    .circle {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        height: 90px;
        border-radius: 50%;
        overflow: hidden;
        border: 1.5px solid rgb(172, 172, 172);
        z-index: 1;
    }

    .text-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        text-shadow: 1px 1px 1px black;
    }

        .text-container div::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.2);
            z-index: -1;
            border-top: 1px solid rgb(138, 136, 136);
            border-bottom: 1px solid rgb(138, 136, 136);
        }

        .text-container h1 .waterblue {
            color: #089288;
        }

        .text-container h1 {
            font-size: 2.4em;
        }

        .text-container p .waterblue {
            color: #089288;
        }

        .text-container p {
            font-size: 1.5em;
            margin: 0;
        }

    /********************/
    /** Main container **/
    /********************/
    .main-container {
        display: flex;
        flex-direction: column;
        /* position: absolute; */
        width: 100%;
        /* height: calc(100vh - 50px); */
        height: 6500px;
        /* subtract header height */
    }

        .main-container h1 .black {
            color: #000;
        }

        .main-container p .gray {
            color: #303030;
        }

        .main-container h1 {
            font-size: 2.1em;
        }

        .main-container h2 {
            font-size: 1.5em;
            font-weight: bold;
            color: #707070;
        }

        .main-container h3 {
            font-size: 1.5em;
            color: #575555;
        }

        .main-container p {
            font-size: 1.3em;
        }

        .main-container .date {
            display: inline-block;
            font-weight: normal;
            margin-top: 0px;
            margin-right: 15px;
        }

            .main-container .date span {
                color: #089288;
            }

        .main-container .circle-filled {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #033a36;
            border: 1px solid #012523;
            ;
            margin-right: 2px;
            margin-left: 2px;
        }

        .main-container .circle-empty {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #b8b8b8;
            border: 1px solid rgb(172, 172, 172);
            margin-right: 2px;
            margin-left: 2px;
        }

        .main-container .circles {
            display: flex;
            width: 300px;
        }

    .left-column,
    .right-column {
        display: flex;
        width: 100%;
        height: 50%;
        box-sizing: border-box;
    }

    .left-column {
        background-color: rgba(211, 211, 211, 0.63);
        border-top: 2px solid #19a09727;
        border-bottom: 2px solid #19a09727;
        border-left: 2px solid #19a09727;
        border-right: 2px solid #19a09727;
        position: relative;
        text-align: justify;
        z-index: -2;
    }

    .right-column {
        background-color: #19a09727;
        position: relative;
        text-align: justify;
        z-index: -2;
    }

    .triangle-top {
        width: 0;
        height: 0;
        border-top: 100% solid transparent;
        border-bottom: 100% solid transparent;
        border-left: 100% solid #fff;
        border-right: 100% solid transparent;
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(180deg);
        z-index: -1;
    }

    .triangle-bottom {
        width: 0;
        height: 0;
        border-top: 100% solid transparent;
        border-bottom: 100% solid transparent;
        border-left: 100% solid transparent;
        border-right: 100% solid #fff;
        position: relative;
        right: 0;
        bottom: 0;
        transform: rotate(360deg);
        z-index: -1;
    }

    .text {
        position: absolute;
        padding: 50px;
        z-index: 0;
    }


    /********************/
    /* Left column text */
    /********************/
    .left-column .frameworks {
        display: flex;
        width: 200px;
    }

    .left-column .framework-circle-container {
        display: flex;
        justify-content: right;
        align-items: center;
        width: calc(35vw + 50px);
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 5px 0;
    }

    .left-column .hobbies {
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
    }

    .left-column .hobbies-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        .left-column .hobbies-container img {
            width: 48%;
            margin-bottom: 20px;
        }

        .left-column .hobbies-container .gym {
            display: flex;
            width: 40%;
            height: 19%;
            margin-top: 6%;
            margin-left: 5%;
            margin-bottom: 20px;
        }

        .left-column .hobbies-container .karate {
            display: flex;
            width: 38%;
            height: 19%;
            margin-top: 2%;
            margin-left: 5%;
            margin-bottom: 3%;
        }

        .left-column .hobbies-container .reading {
            display: flex;
            width: 30%;
            height: 14%;
            margin-top: 7%;
            margin-left: 7%;
            margin-bottom: 3%;
        }

        .left-column .hobbies-container .skateboarding {
            display: flex;
            width: 33%;
            height: 16%;
            margin-top: 3%;
            margin-left: -1.5%;
            margin-bottom: 3%;
        }

    /*********************/
    /* Right column text */
    /*********************/
    .right-column .frameworks {
        display: flex;
        width: 200px;
    }

    .right-column .framework-circle-container {
        display: flex;
        justify-content: right;
        align-items: center;
        width: calc(35vw + 50px);
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 5px 0;
    }
}

/*************************/
/*********       *********/
/******    Media    ******/
/*****      1368     *****/
/******      px     ******/
/*********       *********/
/*************************/
@media (min-width: 1024.05px) and (max-width: 1368px) {

    /********************/
    /****** Header ******/
    /********************/
    header {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

        header::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: -1;
        }

        header::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-image: url('/curriculum-vitae/header.webp');
            background-position: center top 0px;
            background-repeat: no-repeat;
            background-size: cover;
            filter: grayscale(100%);
            z-index: -2;
        }

    .circle {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        height: 90px;
        border-radius: 50%;
        overflow: hidden;
        border: 1.5px solid rgb(172, 172, 172);
        z-index: 1;
    }

    .text-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        text-shadow: 1px 1px 1px black;
    }

        .text-container div::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.2);
            z-index: -1;
            border-top: 1px solid rgb(138, 136, 136);
            border-bottom: 1px solid rgb(138, 136, 136);
        }

        .text-container h1 .waterblue {
            color: #089288;
        }

        .text-container h1 {
            font-size: 2.4em;
        }

        .text-container p .waterblue {
            color: #089288;
        }

        .text-container p {
            font-size: 1.5em;
            margin: 0;
        }

    /********************/
    /** Main container **/
    /********************/
    .main-container {
        display: flex;
        flex-direction: column;
        /* position: absolute; */
        width: 100%;
        /* height: calc(100vh - 50px); */
        height: 6500px;
        /* subtract header height */
    }

        .main-container h1 .black {
            color: #000;
        }

        .main-container p .gray {
            color: #303030;
        }

        .main-container h1 {
            font-size: 2.1em;
        }

        .main-container h2 {
            font-size: 1.5em;
            font-weight: bold;
            color: #707070;
        }

        .main-container h3 {
            font-size: 1.5em;
            color: #575555;
        }

        .main-container p {
            font-size: 1.3em;
        }

        .main-container .date {
            display: inline-block;
            font-weight: normal;
            margin-top: 0px;
            margin-right: 15px;
        }

            .main-container .date span {
                color: #089288;
            }

        .main-container .circle-filled {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #033a36;
            border: 1px solid #012523;
            ;
            margin-right: 2px;
            margin-left: 2px;
        }

        .main-container .circle-empty {
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #b8b8b8;
            border: 1px solid rgb(172, 172, 172);
            margin-right: 2px;
            margin-left: 2px;
        }

        .main-container .circles {
            display: flex;
            width: 300px;
        }

    .left-column,
    .right-column {
        display: flex;
        width: 100%;
        height: 50%;
        box-sizing: border-box;
    }

    .left-column {
        background-color: rgba(211, 211, 211, 0.63);
        border-top: 2px solid #19a09727;
        border-bottom: 2px solid #19a09727;
        border-left: 2px solid #19a09727;
        border-right: 2px solid #19a09727;
        position: relative;
        text-align: justify;
        z-index: -2;
    }

        .left-column .circle-container {
            display: flex;
            justify-content: right;
            align-items: center;
            width: calc(20vw + 15px);
            margin-left: 1px;
        }

    .right-column {
        background-color: #19a09727;
        position: relative;
        text-align: justify;
        z-index: -2;
    }

    .triangle-top {
        width: 0;
        height: 0;
        border-top: 100% solid transparent;
        border-bottom: 100% solid transparent;
        border-left: 100% solid #fff;
        border-right: 100% solid transparent;
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(180deg);
        z-index: -1;
    }

    .triangle-bottom {
        width: 0;
        height: 0;
        border-top: 100% solid transparent;
        border-bottom: 100% solid transparent;
        border-left: 100% solid transparent;
        border-right: 100% solid #fff;
        position: relative;
        right: 0;
        bottom: 0;
        transform: rotate(360deg);
        z-index: -1;
    }

    .text {
        position: absolute;
        padding: 50px;
        z-index: 0;
    }


    /********************/
    /* Left column text */
    /********************/
    .left-column .frameworks {
        display: flex;
        width: 200px;
    }

    .left-column .framework-circle-container {
        display: flex;
        justify-content: right;
        align-items: center;
        width: calc(45vw + 80px);
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 5px 0;
    }

    .left-column .hobbies {
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
    }

    .left-column .hobbies-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        .left-column .hobbies-container img {
            width: 30%;
            margin-bottom: 20px;
        }

        .left-column .hobbies-container .gym {
            display: flex;
            width: 33%;
            height: 15%;
            margin-top: 6%;
            margin-left: 5%;
            margin-bottom: 20px;
        }

        .left-column .hobbies-container .karate {
            display: flex;
            width: 32%;
            height: 15%;
            margin-top: 2%;
            margin-left: 5%;
            margin-bottom: 3%;
        }

        .left-column .hobbies-container .reading {
            display: flex;
            width: 23%;
            height: 10%;
            margin-top: 7%;
            margin-left: 7%;
            margin-bottom: 3%;
        }

        .left-column .hobbies-container .skateboarding {
            display: flex;
            width: 25%;
            height: 11%;
            margin-top: 3%;
            margin-left: -1.5%;
            margin-bottom: 3%;
        }

    /*********************/
    /* Right column text */
    /*********************/
    .right-column .frameworks {
        display: flex;
        width: 200px;
    }

    .right-column .framework-circle-container {
        display: flex;
        justify-content: right;
        align-items: center;
        width: calc(45vw + 80px);
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 5px 0;
    }
}

/*************************/
/*********       *********/
/******    Media    ******/
/*****      1860     *****/
/******      px     ******/
/*********       *********/
/*************************/
@media (min-width: 1368.05px) and (max-width: 4096px) {

    /********************/
    /** Main container **/
    /********************/
    .main-container {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 2800px;
        z-index: 0;
    }
}
